html, body {
    /*font from http://cssfontstack.com/*/
    font-family: 'Gudea', sans-serif;
    margin: auto 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#page {
    position: relative;
    left: 20px;
    max-height: 95%;
    width: 300px;
    -webkit-user-select: none;
    background-color: rgba(255,255,255,0.4);
    pointer-events: none;
}

#canv {
    position: absolute;
}

h1 {
    font-size:  1.5em;
}

h2 {
    font-size: 1.2em;
}

#page a {
    pointer-events:all;
}

a {
    color: #5b2834;
    display: inline-block;
    text-decoration: none;
}
a:hover {
    color: #DF723E;
}


.links {
    color: #58585B;
    display: inline-block;
    text-decoration: none;
}
.links:hover {
    color: #DF723E;
}